/* ---------------Box Sizing----------------- */ 
html { 
    box-sizing: border-box; 
} 
*,
*:before,
*:after { 
    box-sizing:inherit; 
} 
/* ----- Utility Styles ---- */ 
.container { 
    width:80vw; 
    margin:40px auto; 
    max-width:900px; 
}  


.img-right { 
    float:right; 
    margin:10px 0 10px 20px;
 border: 1px solid #c0c0c0;  
 padding:5px;
}
.img-left{ 
    float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px; 
    
} 
.img-center {
    display:block;
    margin: 20px auto;
    border: 1px solid #c0c0c0; 
    padding:10px;
}    

/*---- Responsive Images ----*/ 
img { 
    max-width:100%; 
    height:auto; 
}    
/*--Body--*/
body {

font-family: 'Roboto', sans-serif;
margin:0;    
} 

header.primary {   
  background-color: #fff;
    text-align:center; 
    color: #fff; 
text-shadow:
       -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
    padding: 6em 2em; 
    position:relative; 
}            
header.primary::before{ 
 content:"";   
 background-image:url("../img/top-banner.png"); 
 background-size:cover;   
 position: absolute; 
 top: 0px; 
 right:0px; 
 bottom:0px; 
 left:0px;   
 
 
} 
header.primary h1 { 
font-size: 3.2rem; 
margin:20px 0; 
position: relative; 
}     

header.primary h1 a { 
   
    background-image:  url("https://assets.codepen.io/7248/logo-2.png");
   
       text-shadow:
       0px 0px 0px #fff;
        
         
    display: block;  
    width: 450px;
    height: 70px; 
    margin: 0 auto; 
    text-indent:100%;  
    white-space: nowrap; 
    overflow:hidden;
    
}  
header.primary h2{    
   
    font-size: 2em;  
    margin: 20px auto 40px; 
    position: relative; 
    
    
} 
header.primary nav ul{
    position:relative; 
    display:flex; 
    flex-direction:row; 
    justify-content: space-around;
    padding: 0; 
    max-width:900px; 
    margin: 20px auto;
} 

header.primary nav li{
     list-style-type: none;
  padding: 0;
  width: 20%;
}  

header.primary nav a:link, header.primary nav a:visited {
    color:#fff; 
    text-decoration:none;  
    background-color: #000000;
  background-color:   #6495ED;
  opacity:.9;
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.7s;
  display: block;
    
} 
header.primary nav a:hover,
header.primary nav a:active {
  background-color: #3752A6; 
  opacity:.9;
}   
/* ------------- Content --------------- */ 
section#content {
  padding: 4em 0;
}

section#content h2{
 
  font-size: 1.8em;
  color: #000;
  text-align:center;  
  border-bottom:6px solid #0D1C73; 
  
}

/* ------------- Articles --------------- */

section#articles { 
   background-image:url("../img/articless.gif"); 
 
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #000;
  text-align: center;
  
  font-size: 2em;
}

section#articles h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #6495ED;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}

/*** Q&A **/ 
#qa h2 {
border-bottom:6px solid #0D1C73; 
  padding:5px 10px; 
    color:#000;
}








/* ------------- Aside --------------- */

/* Attribute Selector */
aside[role="complementary"] {
  background-color: #0D1C73; 
 
  color: #ffffff;
  padding: 2.5em;
}

aside .container {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

aside article.widget {
  width: 40%
}

.widget.overview table {
  font-size: 0.7em;
  border-collapse: collapse;
  width:100%;
}

.widget.overview table td {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.widget.overview table td:nth-child(even) {
  text-align: right;
}

aside article a:link,
aside article a:visited {
  color: #ffffff;
  display: block;
  margin-top: 1.2em;
  letter-spacing: 1.2px;
}

aside article a:hover,
aside article a:active {
  text-decoration: none;
}

aside article footer {
  display: none;
}

/*------ Footer ------*/

footer#colophon {
  background-color: #6495ED;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited {
  color: #fff;
} 
/*table history */ 
.center {
text-align:center;   

       margin-left: auto;
  margin-right: auto;   
  
  padding-bottom:8rem;
    
 
}  
.center caption{
  color:#0f2e45; 
  padding:10px;
  font-weight:bold; 
  font-size:1.4rem; 
  
} 
.center tr:nth-child(even){
  background-color:#6495ED; 
}  
.center tr:hover{
  background-color:#fcf808;
}  
.center td{ 
    border:3px solid #0D1C73;
    padding:5px;
} 
.center th{ 
    background-color: #0D1C73;
    color:#fff; 
    
    padding:10px;
}



/*slideshow-Index*/
.ss {



	margin-right: auto;
	margin-left: auto; 



	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */

}
.ss img {

		padding-bottom:2rem;  
		
		
}
 
 /*slideshow2-History*/
 .ss2 {



	margin-right: auto;
	margin-left: auto; 



	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */

}
.ss2 img {

		padding-bottom:2rem;  
		
		
}
 

/* ---------------Media Queries----------------- */

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

  section#articles .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
  }

  #articles article.post {
    width: 100%;
    margin-bottom: 2em;
  }
  
  aside .container {
  flex-direction: column;
}
  
  aside article.widget {
  width: 100%;
}
  
} 


