



h1 {
font-family: 'Italianno', cursive; 
font-size: 50px;
}     
body{
    background-image:url(../img/pink-background.gif)

}

  
ul li{
list-style-type: square; 

}
ul li a{
   color:#BF3475;  
   font-size:20px;
}  

li{
    font-size:23px; 
  
}

