



h1 {
font-family: 'Italianno', cursive; 
font-size: 50px;
}     
body{
    background-image:url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg?size=626&ext=jpg")

}

  
ul li{
list-style-type: square; 

}
ul li a{
   color:#BF3475;  
   font-size:20px;
}  

li{
    font-size:23px; 
  
}

